body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    /*font: 12px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, SimSun, sans-serif;*/
}